
.img1{
  width: 50px;
  height: 50px;
  padding: 0;
  margin: 0;
  border: 0;
}
.img12{
  margin: 0;
  padding: 0;
  border: 0;
}
.p1{
  margin-top: 200px;
  margin-bottom: 300px;
  text-align: center;
  padding: 50px;
}
.subheading{
  text-align: center;
  margin-left: 300px;
  font-family: 'EB Garamond', serif;
}
.p2{
  margin-left: 288px;
  margin-top: 50px;
  margin-bottom: 50px;
}
footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
.fh{
  text-align: center;
  margin-right: 50px;
}
